:root {
  --color-gray-light: #d7dfe2;
  --color-gray-medium: #616b74;
  --color-gray-dark: #414b56;
  --color-link: #4d97b2;
  --color-popular: #ef257a;
  --color-technology: #651fff;
  --color-psychology: #e85808;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
}

body {
  margin: 2rem;
  color: var(--color-gray-dark);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  overflow: hidden;
  box-shadow: 0px 2px 20px var(--color-gray-light);
  background-color: #fff;
  border-radius: 0.5rem;
  position: relative;
  width: 350px;
  margin: 1rem;
  transition: 200ms transform ease-in;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0px 2px 40px var(--color-gray-light);
}

.card__image {
  object-fit: cover;
  position: absolute;
  height: 14rem;
  width: 100%;
}

.card__tag {
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  background: red;
  padding: 0.5rem 1.3rem 0.5rem 1rem;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  top: 1rem;
  border-radius: 0 2rem 2rem 0;
}

.card__popular {
  background: var(--color-popular);
}

.card__technology {
  background: var(--color-technology);
}

.card__psychology {
  background: var(--color-psychology);
}

.card__body {
  margin: 15rem 1rem 1rem 1rem;
}

.card__hashtag {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-link);
}

.card__title {
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem;
}

.card__description {
  color: var(--color-gray-medium);
  font-size: 0.9rem;
}

.card__profile {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.card__profile_image {
  width: 3.75rem;
  height: 3.75rem;
  object-fit: cover;
  border-radius: 50%;
}

.card__profile_info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.card__profile_name {
  font-size: 1rem;
}

.card__profile_followers {
  color: var(--color-gray-medium);
  font-size: 0.9rem;
}
